* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER  */
.header {
    padding: 20px 0;
    
}

.header .container {
    width: 80%;
    margin: auto;
}
.header .container h3{
    font-size: 40px;
    font-weight: bold;
    display: inline;
}
.header .container i {
    padding: 15px;
    border-radius: 50%;
    background-color: black;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

.header .container ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 30;
}

/* CAROUSEL  */
.carousel img{
    height: 100px;
    
}

/* WELCOME  */
.welcome{
    margin: 30px 0;
}
.welcome .container{
    width: 80%;
    margin: auto;
}
.welcome .container .left, .welcome .container .right{
    float: left;
    width: 50%;
}
.welcome .container .left .content{
    width: 90%;
}
.welcome .container .left .content h2{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}
.welcome .container .left .content p{
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
}
.welcome .container .left .content button{
    margin-top: 30px;
    padding: 15px;
    background-color: yellow;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* DATA  */
.data{
    margin: 50px 0;
    padding: 50px 0px;
    background-color: rgb(177, 162, 162);
}
.data .container{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;

}
.data .container .item{
    float: left;
    width: 25%;
    padding-bottom: 20px;
    margin: auto 0;
    
}
.data .container .item .content h1{
    float: left;
    width: 10%;
}
.data .container .item .content p{
    float: left;
    width: 80%;
}

/* TABLE  */

.table .container{
    width: 80%;
    margin: auto;

}
.table .container .item{
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px;
    
}
.table .container .item .top{
    margin-bottom: 20px;
}
.table .container .item .content{
    background-color: rgb(3, 3, 69);
   padding: 50px 0;
   color: white;
   font-size: 25px;
}
.table .container .item .content i{
    font-size: 40px;
}

/* STATUS  */
 .status{
    background-color: aliceblue;
    height: 700px;
 }
 .status .container{
    width: 80%;
    margin: auto;

 }
 .status .container .status-left, .status .container .status-right{
    float: left;
    width: 50%;
   
 }
.status .container h1{
    margin: 30px 0;
    font-size: 35px;
}
.status .container .status-left .content{
    background-color: white;
    height: 450px;
}
.status .container .status-left .content .item-left .img {
    float: left;
    width: 30%;
    padding: 20px;
}
.status .container .status-left .content .item-left .text{
    float: left;
    width: 70%;
    padding: 20px;
}
button{
    padding: 10px 25px;
    background-color: yellow;
    border: none;
    margin-top: 20px;
    text-align: right;
    float: right;
}

/* ================= */

.status-right .container .content .item-top{
    height: 180px;
   background-color: white;
   margin-bottom: 30px;
   
}
.status-right .container .content .item-bt{
    height: 200px;
    padding-bottom: 20px;
    background-color: white;
    
}
/* .status-right .container .content .item-top .noiDung{
    margin-bottom: 30px;
    background-color: blue;
} */
.status-right .container .content .item-top .left{
    float: left;
    width: 20%;  
    padding: 15px;
}
.status-right .container .content .item-top .left .top{
    background-color: rgb(156, 156, 75);
    text-align: center;
    
}
.status-right .container .content .item-top .right h2{
    margin: 10px 0;
}
.status-right .container .content .item-top .left .bt{
    background-color: rgb(5, 5, 105);
    color: white;
    text-align: center;
}
.status-right .container .content .item-top .right{
    float: left;
    width: 80%;
   
}
.status-right .container .content .h2{
    margin-bottom: 20px 0;
}

/* ============ */

.status-right .container .content .item-bt .left{
    float: left;
    width: 20%;  
    padding: 15px;
}
.status-right .container .content .item-bt .left .top{
    background-color: rgb(156, 156, 75);
    text-align: center;
    
}
.status-right .container .content .item-bt .right h2{
    margin: 10px 0;
}
.status-right .container .content .item-bt .left .bt{
    background-color: rgb(5, 5, 105);
    color: white;
    text-align: center;
}
.status-right .container .content .item-bt .right{
    float: left;
    width: 80%;
   
}
/* FOOTER  */
.footer{
    background-color: rgb(7, 7, 113);
    color: white;
    
}
.footer::after {
    content: "";
    display: table;
    clear: both;
}
.footer .container{
    width: 80%;
    margin: auto;
}
.footer .container .item{
    float: left;
    width: calc(100% / 3);
}
.footer .container .item .content h2{
    margin: 20px 0;
}
.footer .container .item .content ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer .container .item .content ul li p{
    display: inline;
    line-height: 2;
}
.end{
    margin: 50px 0;
}
.end .container{
    width: 80%;
    margin: auto;
}